* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #decdac;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-family: "poppins";
}
.container {
  height: 40%;
  width: 40%;
  padding: 15vh 10vw;
  background-color: #fefaf3;
  border-radius: 70px;
  box-shadow: 0px 10px 30px gray;
  margin-bottom: 30vh;
}
.get-newsletter {
  height: 100%;
  width: 100%;
  background-color: #ebbf53;
  font-size: 2vw;
  border-radius: 120px;
  color: #fff;
  border: none;
  box-shadow: 0px 10px 20px gray;
}
p {
  font-size: 0.7vw;
  font-weight: 500;
  margin-bottom: 3vh;
}
.popup {
  height: 43%;
  width: 43%;
  position: fixed;
  font-size: 1vw;
  top: 23%;
  left: 30%;
  transition: transform 0.2s ease-in-out;
  background-color: #FEFAF3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2vw;
  border-radius: 70px;
  box-shadow: 0px 10px 20px gray;
  transform: scale(0);
}
.open{
    transform: scale(1);
}
.upper {
  height: 60%;
  width: 100%;
  position: relative;
}
.upper img {
  height: 28vh;
  width: 25vh;
  position: absolute;
  top: -25%;
  left: 5%;
}
.text {
  width: max-content;
  background-color: #fff;
  position: absolute;
  right: 13%;
  top: 15%;
}
.text h2{
    font-size: 2.5vw;
    font-weight: 500;
}
.text h3{
    font-weight: 400;
}
.lower {
  height: 30%;
  position: relative;
  align-items: center;
}
input {
  height: 3vw;
  width: 30vw;
  max-width: 100%;
  border-radius: 90px;
  border: 1px solid grey;
  font-size: 1.3vw;
  padding-left: 1.2vw;
  padding-right: 9vw ;
  outline: none;
}
.subscribe-btn {
  height: 3vw;
  width: 8vw;
  background-color: #ebbf53;
  position: absolute;
  right: 0%;
  border-top-right-radius: 90px;
  border-bottom-right-radius: 90px;
  font-size: 1.5vw;
  color: #fff;
  border: none;
}
.ri-close-large-line{
    position: absolute;
    font-size: 1.5vw;
    right: 0%;
    top: 0%;
}
